@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.project {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	&__image {
		aspect-ratio: 16/9;
		margin-inline: auto;
		background-size: cover;
		background-color: rgba(217, 217, 217, 0.2);
		border: solid 1px $colorPurple;
	}

	&__title {
		font-weight: $fw-700;
		display: flex;
		margin-top: 1rem;
	}

	&__body {
		font-weight: $fw-300;
		line-height: 1.3;
		border-top: solid 1px $primary;
		padding: 0.5rem 0;
		margin-bottom: 1rem;
		width: 100%;

		@include tablet {
			min-height: 185px;
		}

		@include desktop-sm {
			min-height: 125px;
		}
	}
}
