@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.project {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	&__image {
		aspect-ratio: 16/9;
		min-height: 100px;

		img {
			margin-bottom: -15px;
		}
	}

	&__title {
		font-weight: $fw-700;
		display: flex;
		margin-top: 1rem;

		&--link {
			margin-top: 1rem;
			color: var(--primaryLightBlue);
			cursor: pointer !important;
		}

		&--icon {
			font-size: 1.4rem;
			transition: all ease 0.3s;
			color: var(--primary);

			&:hover {
				color: var(--primaryLightGreen);
			}
		}
	}

	&__body {
		font-weight: $fw-300;
		line-height: 1.3;
		border-top: solid 1px var(--primary);
		padding: 0.5rem 0;
		margin-bottom: 1rem;
		width: 100%;
	}
}

.yarl__navigation_next,
.yarl__navigation_prev {
	display: none !important;
}
