@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.theme-icon {
	display: inline-block;
	position: relative;
	cursor: pointer;
	font-size: 1.5rem;
	margin-top: 0.5rem;
	color: var(--btn-text);
}

.dark_mode_input {
	width: 0;
	height: 0;
	visibility: hidden;
}

label {
	display: inline-flex;
	align-items: center;
	padding: 4px;
	color: var(--btn-text);
	transition: transform 0.35s ease-in-out;
}

input[type='checkbox']:checked + label {
	transform: translateX(-5px);
	color: var(--primaryLightBlue);
}

input[type='checkbox']:not(:checked) + label {
	transform: translateX(5px);
}
