@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.section-footer {
	width: 100%;
	padding-top: 10rem;
	@include desktop-sm {
		margin-top: 3rem;
	}
	&__title {
		font-size: $fs-300;
		font-family: 'Titillium Web', sans-serif;
		line-height: 1;
	}

	&__contact {
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		&--link {
			display: block;
			font-size: $fs-150;
			font-weight: $fw-300;
			color: $primary;
			margin-top: 2rem;

			&:hover {
				text-decoration: underline;
			}

			&:last-child {
				margin-top: 0;
			}

			@include desktop-sm {
				font-size: $fs-200;
			}
		}
	}

	&__social {
		border-top: solid 1px $primary;
		display: flex;
		gap: 1rem;
		flex-direction: row;
		align-items: center;
		justify-content: flex-end;
		margin: 5rem 0 2rem;

		@include desktop-sm {
			gap: 2;
		}

		&--title {
			margin-top: 1rem;
			font-weight: $fw-400;

			@include desktop-sm {
				font-size: $fs-120;
			}
		}

		&--link {
			width: 50px;
			height: 50px;
			border-radius: 50%;
			background-color: $colorLightBlue;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-top: 1rem;
			transition: background-color 0.5s ease;

			&:hover {
				background-color: $colorLightGreen;
			}
		}

		&--icon {
			color: $primaryLight;
			font-size: $fs-200;

			@include desktop-sm {
				font-size: $fs-200;
			}
		}
	}
}
