@use './variables' as *;

@mixin mobile {
	@media screen and (min-width: $mobile-breakpoint) {
		@content;
	}
}

@mixin tablet {
	@media screen and (min-width: $tablet-breakpoint) {
		@content;
	}
}

@mixin desktop-sm {
	@media screen and (min-width: $desktop-sm-breakpoint) {
		@content;
	}
}

@mixin desktop {
	@media screen and (min-width: $desktop-breakpoint) {
		@content;
	}
}
@mixin button {
	font-size: 1rem;
	background-color: var(--primaryLightBlue);
	color: var(--primaryLight);
	border-radius: 1rem;
	border: none;
	display: inline-block;
	padding: 0.3rem 1rem;
	transition: all 0.2s ease;
	font-weight: $fw-400;
	cursor: pointer;
}
@mixin hover {
	color: #000;
	transform: translate(-0.25rem, -0.25rem);
	background: var(--primaryLightGreen);
	box-shadow: 0.25rem 0.25rem var(--primary);
}

@mixin active {
	transform: translate(0);
	box-shadow: none;
}
