//Breakpoints
$mobile-breakpoint: 480px;
$tablet-breakpoint: 720px;
$desktop-sm-breakpoint: 940px;
$desktop-breakpoint: 1280px;

// Root colours
:root {
	--primary: rgba(51, 64, 81);
	--primaryLight: #ffffff;
	--primaryLightGreen: #8fd1c2;
	--primaryLightBlue: #455d7a;
	--primaryCream: #feffdf;
	--primaryLightBlack: #eaeaea;
}

 // Light colours 
.light-theme {
	--primary: rgba(51, 64, 81);
	--primaryLight: #ffffff;
	--primaryLightGreen: #8fd1c2;
	--primaryLightBlue: #455d7a;
	--primaryCream: #feffdf;
	--primaryLightBlack: #eaeaea;
  }

// Dark colours
.dark-theme {
	--secondary: #ffffff;
	--secondaryLight: #334051;
	--secondaryLightGreen: #2a8471;
	--secondaryLightBlue: #1a2b3a;
	--secondaryCream: #bfb38e;
  }


//Font Size
$fs-075: 0.75rem;
$fs-080: 0.8rem;
$fs-085: 0.85rem;
$fs-090: 0.9rem;
$fs-100: 1rem;
$fs-110: 1.1rem;
$fs-120: 1.2rem;
$fs-150: 1.5rem;
$fs-200: 2rem;
$fs-250: 2.5rem;
$fs-300: 3rem;
$fs-350: 3.5rem;

//Weight
$fw-300: 300;
$fw-400: 400;
$fw-700: 700;

//Font Family
$ff-web: 'Titillium Web', sans-serif;
