//Breakpoints
$mobile-breakpoint: 480px;
$tablet-breakpoint: 720px;
$desktop-sm-breakpoint: 940px;
$desktop-breakpoint: 1280px;

//Primary Colors
$primary: #233142;
$primaryLight: #ffffff;
$primaryDark: #afafaf;
$primaryCta: #0dd8cd;
$lightColour: #e3e3e3;
$colorLightGreen: #9fd3c7;
$colorPurple: #2c3950;
$colorCream: #feffdf;
$colorLightBlue: #455d7a;
$secondaryDark: #e1e1e1;

//Font Size
$fs-075: 0.75rem;
$fs-080: 0.8rem;
$fs-085: 0.85rem;
$fs-090: 0.9rem;
$fs-100: 1rem;
$fs-110: 1.1rem;
$fs-120: 1.2rem;
$fs-150: 1.5rem;
$fs-200: 2rem;
$fs-250: 2.5rem;
$fs-300: 3rem;
$fs-350: 3.5rem;

//Weight
$fw-300: 300;
$fw-400: 400;
$fw-700: 700;

//Font Family
$ff-web: 'Titillium Web', sans-serif;
