@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.title {
	margin-top: 10rem;
	text-align: left;

	&__head {
		font-family: 'Titillium Web', sans-serif;
		font-size: 3rem;
		line-height: 1;
	}

	&__body {
		margin-top: 1rem;
		font-size: $fs-120;
		font-weight: $fw-300;

		@include desktop-sm {
			width: 60%;
		}
	}
}
