@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.project-section {
	&--container {
		&__list {
			list-style-type: none;
			display: flex;
			flex-wrap: nowrap;
			justify-content: space-between;
			flex-direction: column;
			align-content: center;
			align-items: stretch;
			gap: 3rem;

			@include tablet {
				flex-wrap: wrap;
				flex-direction: row;
				gap: 2rem;
			}
		}

		&__element {
			width: calc(100% - 0px);

			&:last-child {
				border-bottom: none;
			}

			@include tablet {
				width: calc(50% - 40px);
			}

			@include tablet {
				border-bottom: none;
			}
		}
	}
}
