@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.project-section {
	&--container {
		display: flex;
		flex-direction: column;
		align-items: center;

		&__list {
			list-style-type: none;
			display: flex;
			flex-wrap: nowrap;
			justify-content: space-between;
			flex-direction: column;
			align-content: center;
			align-items: stretch;
			gap: 5rem;

			@include tablet {
				flex-wrap: wrap;
				flex-direction: row;
				gap: 5rem;
			}
		}

		&__element {
			width: calc(100% - 0px);
			padding: 1rem;
			background: var(--project-color);
			box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
			animation: fadeIn 0.5s ease-in-out; // Apply fade-in animation

			&:last-child {
				border-bottom: none;
			}

			@include tablet {
				width: calc(50% - 40px);
			}

			@include tablet {
				border-bottom: none;
			}
		}
	}

	&--fade-in {
		animation: fadeIn 0.5s ease-in-out; // Add fade-in animation to new elements
	}

	&--load-more {
		display: flex;
		margin-top: 2rem;
		padding: 0.6rem 1.1rem;
		background: var(--project-bg);
		color: inherit;
		border: none;
		border-radius: 1.5rem;
		font-family: inherit;
		cursor: pointer;
		transition: all 0.3s ease;
		box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
		animation: fadeIn 0.5s ease-in-out;

		font-size: 1rem;
		background-color: var(--btn-bg);
		color: var(--btn-text);
		transition: all 0.2s ease;
		font-weight: $fw-400;

		&:hover {
			background: var(--btn-hover);
			color: var(--primary);
		}
	}
}

.carousel .control-arrow:hover {
	background-color: var(--primaryLightBlue) !important;
}

.carousel .slide img {
	max-width: 100%;
	height: auto;
}

.carousel .control-dots {
	z-index: 0 !important;
}

.carousel .control-dots .dot {
	box-shadow: none !important;
	background-color: var(--primaryLightBlue) !important;
}

.carousel .control-arrow,
.carousel.carousel-slider .control-arrow {
	z-index: 0 !important;
}

.carousel .control-prev.control-arrow,
.carousel .control-next.control-arrow {
	opacity: 1;
	visibility: visible;
}

.carousel .control-prev.control-arrow:before,
.carousel .control-next.control-arrow:before {
	font-size: 26px;
}
