@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.button {
	font-family: inherit;
	font-size: 1rem;
	background-color: $colorLightBlue;
	color: $primaryLight;
	border-radius: 5px;
	border: none;
	display: inline-block;
	padding: 0.6rem;
	transition: all 0.2s ease;
	font-weight: $fw-700;
	cursor: pointer;

	&:hover {
		// box-shadow: 5px 5px 0px $colorLightBlue;
		background-color: $colorLightGreen;
		color: $colorLightBlue;
	}

	&:active {
		background-color: $colorLightBlue;
		color: $primaryLight;
		box-shadow: none;
	}
}
