@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.button {
	font-family: inherit;
	font-size: 1rem;
	background-color: $colorPurple;
	color: $primaryLight;
	border-radius: 5px;
	border: none;
	display: inline-block;
	padding: 0.6rem;
	transition: all 0.2s ease;
	font-weight: $fw-700;
	// margin-top: 1rem;

	// &:hover {
	// 	background-color: #3978a3;
	// 	color: #fff;
	// }
	&:hover {
		box-shadow: 5px 5px 0px $colorLightGreen;
		background-color: #3978a3;
		color: #fff;
	}
}
