@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.tabwork {
	&-section {
		@include desktop-sm {
			display: flex;
			align-items: flex-start;
			gap: 3rem;
		}
	}
	&-title {
		font-size: $fs-120;
		margin-bottom: 1rem;
		font-family: $ff-web;
	}
	&-buttons {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: stretch;
		gap: 0.5rem;

		// padding: 1rem;

		@include desktop-sm {
			flex: 1;
		}
	}

	&-button {
		font-size: $fs-100;
		font-weight: $fw-400;
		font-family: inherit;
		background-color: #d9d9d9;
		padding: 1rem;
		text-align: left;
		display: flex;
		color: $primary;

		&.active {
			border-left: solid 10px $secondaryCta;
			font-weight: $fw-700;
		}
	}

	&-content {
		// background-color: $primaryDark;
		// border: solid 2px $primaryDark;
		margin-top: 2rem;
		// box-shadow: 7px 7px 0px darkslateblue;
		padding: 0;
		// height: 70vh;

		@include desktop-sm {
			height: auto;
			flex: 3;
			margin-top: 0;
			margin-bottom: 5rem;
			// padding: 1rem;
		}
	}
}
