@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.bubbles-title {
	color: var(--primary);
	font-size: 1.5rem;
	margin-bottom: 1rem;
}

.bubbles-list {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

.bubbles-item {
	background: var(--primaryLightBlue);
	border-radius: 1rem;
	font-weight: 400;
	padding: 0.1rem 1.5rem;
	color: #fff;
	font-size: $fs-100;
	transition: background-color 0.3s ease-in-out;
	cursor: pointer;

	&:hover {
		background: var(--primaryLightGreen);
	}

	&:nth-child(even) {
		background: var(--primaryLightGreen);

		&:hover {
			background: var(--primaryLightBlue);
		}
	}
}
