@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.navbar {
	display: flex;
	justify-content: space-between;
	height: 4rem;
	padding: 0 1rem;
	align-items: center;

	@include desktop {
		width: 80rem;
		margin: 0 auto;
	}

	&__burger {
		font-size: 1rem;

		@include desktop {
			display: none;
		}
	}

	&__name {
		font-family: 'Titillium Web', sans-serif;
		font-size: 1.875rem;

		@include desktop {
			order: 0;
		}
	}

	&__theme {
		font-weight: $fw-400;
	}
}
