@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.navbar {
	display: flex;
	justify-content: space-between;
	height: 4rem;
	padding: 0 2rem;
	align-items: center;

	@include desktop {
		width: 80rem;
		margin: 0 auto;
	}

	&__toggle {
		display: block;
		background: none;
		border: none;
		cursor: pointer;
		font-size: 1.8rem;
		margin-top: 0.5rem;
		color: $lightColour;

		@include desktop-sm {
			display: none;
		}
	}

	&__name {
		font-family: 'Titillium Web', sans-serif;
		font-size: 2.3rem;
		letter-spacing: 0.1rem;
		color: $lightColour;

		@include desktop {
			order: 0;
		}
	}

	&__right-col {
		@include desktop-sm {
			order: 3;
			display: flex;
			gap: 1rem;
			align-items: center;
			flex-direction: row-reverse;
		}
	}
}

.navbar-menu {
	display: none;
	list-style: none;
	flex-direction: column;
	width: 100%;
	line-height: 3.15;
	transition: height 0.3s ease;
	position: absolute;
	top: 3.5rem;
	left: 0;
	background-color: $colorLightBlue;
	z-index: 1;

	@include desktop-sm {
		display: block;
		margin: 0;
		display: grid;
		grid-template-columns: repeat(3, auto);
		order: 1;
		width: 400px;
		height: 2.95rem;
		position: initial;
		justify-content: center;
		gap: 1.5rem;
	}

	&__item {
		font-size: $fs-110;
		border: none;
		position: relative;

		&:hover {
			border: none;
		}

		&::after {
			height: 0px;

			@include desktop {
				content: '';
				position: absolute;
				width: 0px;
				height: 4px;
				left: 50%;
				bottom: 0;
				background-color: $lightColour;
				transition: all ease-in-out 0.2s;
			}
		}

		&:hover::after {
			width: 100%;
			left: 0;
		}
	}

	&__link {
		color: $lightColour;
		text-decoration: none;
		font-weight: $fw-400;

		&--mobile {
			display: block;
			font-size: $fs-090;
			background-color: $lightColour;
			color: $colorLightBlue;
			border-radius: 5px;
			border: none;
			padding: 0.1rem 0.7rem;
			transition: background-color 0.5s ease;
			font-weight: $fw-700;
			cursor: pointer;
			margin-bottom: 1rem;

			@include desktop-sm {
				display: none;
			}
		}
	}

	&__icon {
		margin-right: 0.5rem;
		@include desktop-sm {
			display: none;
		}
	}

	&.active {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		border-top: solid 1px $primaryLight;
		padding-left: 2rem;
		box-shadow: 0px 20px 50px -40px $primary;
		margin-top: 0.5rem;

		@include desktop {
			display: grid;
		}
	}
}
