@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.mainproject {
	margin-top: 5rem;
	padding-bottom: 5rem;

	@include desktop-sm {
		display: flex;
		flex-direction: row;
	}

	&__figure {
		@include desktop-sm {
			padding-right: 3rem;
		}
		&--img {
			background-size: cover;
			aspect-ratio: 16/9;
		}
	}

	&__text {
		margin-top: 1rem;

		&--title {
			margin-top: 0.5rem;
		}

		&--body {
			font-weight: $fw-300;
			line-height: 1.3;
			margin-bottom: 1rem;
		}
	}

	&-btn {
		font-family: inherit;
		font-size: $fs-090;
		font-weight: $fw-400;
		background-color: $primaryCta;
		padding: 0.6rem 3rem;
		margin-top: 1rem;
		border-radius: 6px;
	}
}

.carousel {
	border: solid 2px $colorPurple;
}
.carousel .control-arrow:hover {
	background-color: rgba($secondaryCta, 0.4) !important;
}

.carousel .slide img {
	max-width: 100%;
	height: auto;
}

.carousel .control-dots .dot {
	box-shadow: none !important;
	background-color: rgba($secondaryCta, 1) !important;
}
