@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.mainproject {
	margin-top: 5rem;
	padding-bottom: 5rem;

	@include desktop-sm {
		display: flex;
		flex-direction: row;
	}

	&__figure {
		@include desktop-sm {
			padding-right: 3rem;
		}
		&--img {
			background-size: cover;
			aspect-ratio: 16/9;
		}
	}

	&__text {
		margin-top: 1.5rem;

		@include desktop-sm {
			margin-top: 0;
		}

		&--icon {
			transition: all ease 0.3s;
			color: var(--primary);

			&:hover {
				color: var(--primaryLightGreen);
			}
		}

		&--link {
			margin-top: 0.3rem;
			margin-left: 0.5rem;
		}

		&--title {
			margin-top: 0.5rem;
			font-size: 1.3rem;

			@include tablet {
				font-size: 1.5rem;
			}
		}

		&--body {
			font-weight: $fw-300;
			line-height: 1.3;
			margin-bottom: 1rem;
			font-size: 1.1rem;
		}
	}
}

// .carousel {
// 	outline: solid 1px var(--primary);
// 	box-shadow: 5px 5px 0px var(--primary);
// }

.carousel .control-arrow:hover {
	background-color: var(--primaryLightBlue) !important;
}

.carousel .slide img {
	max-width: 100%;
	height: auto;
}

.carousel .control-dots .dot {
	box-shadow: none !important;
	background-color: var(--primaryLightBlue) !important;
}
