@use './styles/variables' as *;
@use './styles/fonts' as *;
@use './styles/mixins' as *;

html {
	font-family: 'Josefin Sans', sans-serif;
	box-sizing: border-box;
	scroll-behavior: smooth;
	scroll-padding-top: 2rem;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	padding: 0;
	margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

button {
	padding: 0;
	border: none;
	background: none;
	cursor: pointer;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

img {
	width: 100%;
	height: auto;
	outline: none;
}

a,
a:visited {
	text-decoration: none;
}

mark {
	background-color: $colorCream;
	padding: 0.2rem;
	font-weight: $fw-700;
	color: $colorPurple;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $primary;
}

p {
	color: $primary;
}
.container {
	width: 100%;
}

.header {
	background-color: $colorLightBlue;
	color: #a7d5e5;
	box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.1);
}

.main {
	width: 100%;
	padding: 0 2rem;
	margin-top: 2rem;

	@include tablet {
		padding: 0 2.5rem;
	}

	@include desktop-sm {
		max-width: 80rem;
		margin: 0 auto;
	}
}

.footer {
	width: 100%;
	padding: 0 2rem;
	margin-top: 10rem;
	@include tablet {
		padding: 0 2.5rem;
	}
	@include desktop-sm {
		max-width: 80rem;
		margin: 0 auto;
		height: auto;
		padding-top: 5rem;
	}
}

body::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
